@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  color: theme("colors.gray[950]");
  background-color: theme("colors.gray[50]");
}

@layer components {
  .headline {
    margin-top: theme("size.40");
    margin-bottom: theme("size.10");
    text-transform: uppercase;
    font-size: theme("size.5");
    font-weight: 600;
  }
  .sm-headline {
    margin-top: theme("size.20");
    margin-bottom: theme("size.5");
    text-transform: uppercase;
    font-size: theme("size.4");
    font-weight: 600;
  }

  details.collapsible {
    position: relative;
  }
  details.collapsible summary {
    list-style: none;
  }
  details.collapsible summary::-webkit-details-marker {
    display: none;
  }
  details.collapsible summary::after {
    content: "Read more";
    cursor: pointer;
    line-height: 2.5rem;
    color: theme("colors.blue[500]");
  }
  details.collapsible[open] {
    padding-bottom: 2.5em;
  }
  details.collapsible[open] summary {
    position: absolute;
    bottom: 0;
  }
  details.collapsible[open] summary * {
    display: none;
  }
  details.collapsible[open] summary::after {
    content: "Read less";
  }
}
